<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>
<form th:action="@{/update_success}" th:object="${user}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{email}" />
    <input type="hidden" th:field="*{first_name}" />
    <input type="hidden" th:field="*{last_name}" />
    <input type="hidden" th:field="*{username}" />
    <div class="form__group">
        <p> Password </p>
        <input type="text" class="form__input" value="" th:field="*{password}"
               required/>
    </div>
    <input type="hidden" th:field="*{role}" />
    <button type="submit" class="btn">Update</button>
</form>
</body>
</html>