<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Chore</title>
</head>
<body>
<form class="form" th:action="@{/edit-chore}" th:object="${chore}" method="post">
    <div class="form__group">
        <p> Chore </p>
        <input type="text" class="form__input" th:field="*{chore}"
               required/>
    </div>
    <div class="form__group">
        <p> Description </p>
        <input type="text" class="form__input" th:field="*{description}"
               required/>
    </div>
    <button th:name="id" th:value="${id}" type="submit" class="btn btn-primary">Update</button>
</form>
</body>
</html>