<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CMS</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js" defer></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" th:href="@{/index.css}" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/choreslist}">Chores</a>
                        <a class="dropdown-item" th:href="@{/employeeList}">Employees</a>
                        <a class="dropdown-item" th:href="@{/register}">Create New Employee</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <p class="welcome text-primary"th:text="${'Hello, ' + #authentication.name}">
            Name
        </p>
    </nav>
    <h1 class="heading">Admin</h1>
</div>
<div sec:authorize="isAnonymous()" class="container text-center primary">
    <h1>Welcome to CMS</h1>
    <h3><a th:href="@{/register}">Register</a></h3>
    <h3><a th:href="@{/login}">Login</a></h3>
</div>
<div>
    <h2 class="heading">Week 1</h2>
    <ul class="schedule-grid " style="padding-top: 30px;">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Kitchen</h3>
                <div>
                    <section th:each="schedule: ${currentSchedule}">
                        <div class="chore-entry" th:if="${schedule.chore == 'Kitchen' && schedule.week ==1}">
                            <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                            <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>

                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                                Edit
                            </button>

                            <hr>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Floors</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${schedule.chore == 'Floors' && schedule.week ==1}">
                        <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                       <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Bathrooms</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${schedule.chore == 'Bathrooms'&& schedule.week ==1}">
                        <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                       <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Lobby</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${schedule.chore == 'Lobby' && schedule.week ==1}">
                        <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                       <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Trash</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${schedule.chore == 'Trash'&& schedule.week == 1}">
                        <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                       <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
    </ul>
</div>
<div>
    <h2 class="heading">Week 2</h2>
    <ul class="schedule-grid " style="padding-top: 30px;">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Kitchen</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${schedule.chore == 'Kitchen' && schedule.week == 2}">
                        <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                       <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Floors</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${schedule.chore == 'Floors' && schedule.week == 2}">
                        <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                       <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Bathrooms</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${schedule.chore == 'Bathrooms'&& schedule.week == 2}">
                        <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                       <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Lobby</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${schedule.chore == 'Lobby' && schedule.week == 2}">
                        <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                       <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Trash</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${schedule.chore == 'Trash'&& schedule.week == 2}">
                        <h6 class="card-text text-primary"  th:text="${schedule.user}">Full Name</h6>
                       <p class="card-text"  th:text="${#temporals.dayOfWeekName(schedule.day)}">Day</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
    </ul>
</div>
<!-- Modal -->
<!--<div  class="modal fade" id="editing" tabindex="-1" role="dialog" aria-labelledby="editingLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="editingLabel">Edit User</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <form class="form" th:action="@{/edit-employee/+ {id}}" th:object="${listEmployees}" method="post">-->
<!--                    <div class="form-group" style="margin-left: 25rem; margin-right: 25rem;">-->
<!--                        <select class="form-control" th:field="${listEmployees.user}"  id="dropOperator" th:name="user1">-->
<!--                            <option value="0">Select Employee to Switch</option>-->
<!--                            <option  th:value="${listEmployees.id}" th:text="${listEmployees.user}"></option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <button th:name="id" th:value="*{id}" type="submit" class="btn btn-primary">Update</button>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="editing" tabindex="-1" role="dialog" aria-labelledby="editingLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="user-edit-form" th:object="${listEmployees}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="editingLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="id"/>
                            <p> Name </p>
                            <select class="form-control"  id="dropOperator" name="name" required>
                                <option value="0">Select Employee to Switch</option>
                                <option  th:each="user: ${listEmployees}" th:value="${user.getFullName()}" th:text="${user.getFullName()}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
var editButtons = document.querySelectorAll('.chore-entry .btn');
editButtons.forEach((element) => {
    element.addEventListener('click', () => {
        var userId = element.getAttribute('value');
        console.log('edit button clicked, id: ' + userId);
        var form = document.getElementById('user-edit-form');
        form['id'].setAttribute('value', userId);
        form.setAttribute('action', '/edit-employee/' + userId);
    });
});
</script>
</body>
</html>