<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CMS</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/index.css}" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/chores">View Chore Descriptions</a>
                        <a class="dropdown-item" href="/">Change Password</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <p class="welcome text-primary"th:text="${'Hello, ' + #authentication.name}">
            Name
        </p>
        <a href="/user"><img src="https://cdn.iconscout.com/icon/free/png-512/account-269-866236.png" width="35" alt="Account"></a>
    </nav>
    <h1 class="heading">User</h1>

</div>
<div sec:authorize="isAnonymous()" class=" primary text-center">
    <div class="header" style=" background: #464646; ">
        <h1 class="title" style="color: white;">Welcome to CMS</h1>
        <h3><a th:href="@{/login}" class="button btn-lg">Login</a></h3>
        <h4><a th:href="@{/forgot_password}">Forgot your password?</a></h4>
        <div class="info-box">
            <div class="background">
                <h1 id="title">Chore Management System</h1>
                <p class="description">System to schedule chores </p>
            </div>
        </div>
    </div>
</div>
<div>
<ul class="schedule-grid " style="padding-top: 30px;">
    <div class="card" style="width: 15rem;">
        <div class="card-body ">
            <h5 class="card-title">Monday</h5>
            <section th:each="schedule: ${currentSchedule}">
                <div th:if="${schedule.week == 1}">
                    <div th:if="${schedule.day == 1}">
                        <div th:if="${schedule.chore == 'Kitchen'}">
                            <h6 class="text-primary">Kitchen</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Floors'}">
                            <h6 class="text-primary">Floors</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Bathrooms'}">
                            <h6 class="text-primary">Bathrooms</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Lobby'}">
                            <h6 class="text-primary">Lobby</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Trash'}">
                            <h6 class="text-primary">Trash</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-body ">
            <h5 class="card-title">Tuesday</h5>
            <section th:each="schedule: ${currentSchedule}">
                <div th:if="${schedule.week == 1}">
                    <div th:if="${schedule.day == 2}">
                        <div th:if="${schedule.chore == 'Kitchen'}">
                            <h6 class="text-primary">Kitchen</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Floors'}">
                            <h6 class="text-primary">Floors</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Bathrooms'}">
                            <h6 class="text-primary">Bathrooms</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Lobby'}">
                            <h6 class="text-primary">Lobby</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Trash'}">
                            <h6 class="text-primary">Trash</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-body ">
            <h5 class="card-title">Wednesday</h5>
            <section th:each="schedule: ${currentSchedule}">
                <div th:if="${schedule.week == 1}">
                    <div th:if="${schedule.day == 3}">
                        <div th:if="${schedule.chore == 'Kitchen'}">
                            <h6 class="text-primary">Kitchen</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Floors'}">
                            <h6 class="text-primary">Floors</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Bathrooms'}">
                            <h6 class="text-primary">Bathrooms</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Lobby'}">
                            <h6 class="text-primary">Lobby</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Trash'}">
                            <h6 class="text-primary">Trash</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-body ">
            <h5 class="card-title">Thursday</h5>
            <section th:each="schedule: ${currentSchedule}">
                <div th:if="${schedule.week == 1}">
                    <div th:if="${schedule.day == 4}">
                        <div th:if="${schedule.chore == 'Kitchen'}">
                            <h6 class="text-primary">Kitchen</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Floors'}">
                            <h6 class="text-primary">Floors</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Bathrooms'}">
                            <h6 class="text-primary">Bathrooms</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Lobby'}">
                            <h6 class="text-primary">Lobby</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Trash'}">
                            <h6 class="text-primary">Trash</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <div class="card-body ">
            <h5 class="card-title">Friday</h5>
            <section th:each="schedule: ${currentSchedule}">
                <div th:if="${schedule.week == 1}">
                    <div th:if="${schedule.day == 5}">
                        <div th:if="${schedule.chore == 'Kitchen'}">
                            <h6 class="text-primary">Kitchen</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Floors'}">
                            <h6 class="text-primary">Floors</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Bathrooms'}">
                            <h6 class="text-primary">Bathrooms</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Lobby'}">
                            <h6 class="text-primary">Lobby</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                        <div th:if="${schedule.chore == 'Trash'}">
                            <h6 class="text-primary">Trash</h6>
                            <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</ul>
    <ul class="schedule-grid " style="padding-top: 30px;">
        <div class="card" style="width: 15rem;">
            <div class="card-body ">
                <h5 class="card-title">Monday</h5>
                <section th:each="schedule: ${currentSchedule}">
                    <div th:if="${schedule.week == 2}">
                        <div th:if="${schedule.day == 1}">
                            <div th:if="${schedule.chore == 'Kitchen'}">
                                <h6 class="text-primary">Kitchen</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Floors'}">
                                <h6 class="text-primary">Floors</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Bathrooms'}">
                                <h6 class="text-primary">Bathrooms</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Lobby'}">
                                <h6 class="text-primary">Lobby</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Trash'}">
                                <h6 class="text-primary">Trash</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body ">
                <h5 class="card-title">Tuesday</h5>
                <section th:each="schedule: ${currentSchedule}">
                    <div th:if="${schedule.week == 2}">
                        <div th:if="${schedule.day == 2}">
                            <div th:if="${schedule.chore == 'Kitchen'}">
                                <h6 class="text-primary">Kitchen</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Floors'}">
                                <h6 class="text-primary">Floors</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Bathrooms'}">
                                <h6 class="text-primary">Bathrooms</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Lobby'}">
                                <h6 class="text-primary">Lobby</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Trash'}">
                                <h6 class="text-primary">Trash</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body ">
                <h5 class="card-title">Wednesday</h5>
                <section th:each="schedule: ${currentSchedule}">
                    <div th:if="${schedule.week == 2}">
                        <div th:if="${schedule.day == 3}">
                            <div th:if="${schedule.chore == 'Kitchen'}">
                                <h6 class="text-primary">Kitchen</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Floors'}">
                                <h6 class="text-primary">Floors</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Bathrooms'}">
                                <h6 class="text-primary">Bathrooms</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Lobby'}">
                                <h6 class="text-primary">Lobby</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Trash'}">
                                <h6 class="text-primary">Trash</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body ">
                <h5 class="card-title">Thursday</h5>
                <section th:each="schedule: ${currentSchedule}">
                    <div th:if="${schedule.week == 2}">
                        <div th:if="${schedule.day == 4}">
                            <div th:if="${schedule.chore == 'Kitchen'}">
                                <h6 class="text-primary">Kitchen</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Floors'}">
                                <h6 class="text-primary">Floors</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Bathrooms'}">
                                <h6 class="text-primary">Bathrooms</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Lobby'}">
                                <h6 class="text-primary">Lobby</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Trash'}">
                                <h6 class="text-primary">Trash</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body ">
                <h5 class="card-title">Friday</h5>
                <section th:each="schedule: ${currentSchedule}">
                    <div th:if="${schedule.week == 2}">
                        <div th:if="${schedule.day == 5}">
                            <div th:if="${schedule.chore == 'Kitchen'}">
                                <h6 class="text-primary">Kitchen</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Floors'}">
                                <h6 class="text-primary">Floors</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Bathrooms'}">
                                <h6 class="text-primary">Bathrooms</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Lobby'}">
                                <h6 class="text-primary">Lobby</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                            <div th:if="${schedule.chore == 'Trash'}">
                                <h6 class="text-primary">Trash</h6>
                                <p class="card-text"  th:text="${schedule.user}">Full Name</p>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </ul>
</div>
</body>
</html>