<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CMS</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js" defer></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" th:href="@{/index.css}" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EverydayChore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <a class="nav-link" th:href="@{/register}">Create New Employee</a>

                <a class="nav-link" th:href="@{/choreslist}">Chores</a>
        </div>
        <a class="nav-link" th:href="@{/logout}">Logout</a>
    </nav>
    <div class="schedule-bg">
    <h2 class="heading" th:text="${'Week ' + week_number}">Week </h2>
    <ul class="schedule-grid " style="padding-top: 30px; padding-left: 0px; ">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Monday</h3>
                <div>
                    <section th:each="schedule: ${currentSchedule}">
                        <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day) == 'Monday' && schedule.week == 1}">
                            <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                            <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                            <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                            <div th:if="${schedule.missed == false && schedule.completed == false}">
                                <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                    Edit Employee
                                </button>
                                <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                    Edit Manager
                                </button>
                            </div>
                            <div th:unless="${schedule.missed == false && schedule.completed == false}">
                                <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                    Edit Employee
                                </button>
                                <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                    Edit Manager
                                </button>
                            </div>
                            <hr>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Tuesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Tuesday' && schedule.week ==1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <div th:if="${schedule.missed == false && schedule.completed == false}">

                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                Edit Manager
                            </button>
                        </div>
                        <div th:unless="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                Edit Manager
                            </button>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Wednesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Wednesday' && schedule.week ==1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <div th:if="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                Edit Manager
                            </button>
                        </div>
                        <div th:unless="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                Edit Manager
                            </button>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
               <h3>Thursday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Thursday' && schedule.week ==1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <div th:if="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                Edit Manager
                            </button>
                        </div>
                        <div th:unless="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                Edit Manager
                            </button>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Friday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day) == 'Friday' && schedule.week == 1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <div th:if="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                Edit Manager
                            </button>
                        </div>
                        <div th:unless="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                Edit Manager
                            </button>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
    </ul>
<div>
    <h2 class="heading" th:text="${'Week ' + week_two_number}">Week </h2>
    <ul class="schedule-grid " style="padding-top: 30px; margin-bottom: 0px; padding-left: 0px; padding-bottom: 20px">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Monday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Monday' && schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <div th:if="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                Edit Manager
                            </button>
                        </div>
                        <div th:unless="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                Edit Manager
                            </button>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Tuesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Tuesday' && schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <div th:if="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                Edit Manager
                            </button>
                        </div>
                        <div th:unless="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                Edit Manager
                            </button>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Wednesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Wednesday'&& schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <div th:if="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                Edit Manager
                            </button>
                        </div>
                        <div th:unless="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                Edit Manager
                            </button>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
               <h3>Thursday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Thursday' && schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <div th:if="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                Edit Manager
                            </button>
                        </div>
                        <div th:unless="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                Edit Manager
                            </button>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Friday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Friday'&& schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <div th:if="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee">
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger">
                                Edit Manager
                            </button>
                        </div>
                        <div th:unless="${schedule.missed == false && schedule.completed == false}">
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary employee" data-toggle="modal" data-target="#editingEmployee" disabled>
                                Edit Employee
                            </button>
                            <button th:name="id" th:value="${schedule.id}" th:chore="${schedule.chore}" th:day="${schedule.day}" type="button" class="btn btn-primary manager" data-toggle="modal" data-target="#editingManger" disabled>
                                Edit Manager
                            </button>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
    </ul>
</div>
</div>

<!--MODAL-EMPLOYEE-->
<div class="modal fade" id="editingEmployee" tabindex="-1" role="dialog" aria-labelledby="editingEmployeeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="employee-edit-form" th:object="${listEmployees}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="editingEmployeeLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="id"/>
                            <p> Name </p>
                            <select class="form-control"  id="dropOperatorForEmployee" th:name="name" required>
                                <option value="0">Select Employee to Switch</option>
                                <option  th:each="user: ${listEmployees}" th:value="${user.getFullName()}" th:text="${user.getFullName()}"></option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                    <button id="save-button" type="submit" class="btn btn-primary" >Save</button>-->
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- Copyright -->
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Created by Kenia Sandoval and Bryce Taylor
</div>
<!--MODAL-MANAGER-->
<div class="modal fade" id="editingManger" tabindex="-1" role="dialog" aria-labelledby="editingMangerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="manager-edit-form" th:object="${listManagers}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="editingMangerLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="id"/>
                        <p> Name </p>
                        <select class="form-control"  id="dropOperatorForManager" th:name="name" required>
                            <option value="0">Select Employee to Switch</option>
                            <option  th:each="user: ${listManagers}" th:value="${user.getFullName()}" th:text="${user.getFullName()}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
var editEmployeeButtons = document.querySelectorAll('.chore-entry .employee');
var editManagerButtons = document.querySelectorAll('.chore-entry .manager');

var editNameSelector = document.getElementById('dropOperatorForEmployee');
var editNameSelectorForManager = document.getElementById('dropOperatorForManager');
var updateName = '';
var userId;
var day;
var chore;
var save = document.getElementById('save-button');

console.log(updateName);
editNameSelector.addEventListener('change', () => {
    var text = editNameSelector.options[editNameSelector.selectedIndex].text;
    updateName = text;
    console.log(userId);
    console.log("this be de name: " + updateName);
    var form = document.getElementById('employee-edit-form');
    window.location.href ='/edit-employee/' + + userId + '?name='+ updateName
    });

editEmployeeButtons.forEach((element) => {
    element.addEventListener('click', () => {
        editNameSelector.selectedIndex = 0
        console.log("Only be zero: " + editNameSelector.selectedIndex)
        userId = element.getAttribute('value');
        console.log('edit button clicked, id: ' + userId);
    });
});

editNameSelectorForManager.addEventListener('change', () => {
    var text = editNameSelectorForManager.options[editNameSelectorForManager.selectedIndex].text;
    updateName = text;
    console.log(userId);
    console.log("this be de name: " + updateName);
    var form = document.getElementById('employee-edit-form');
    window.location.href ='/edit-manager/' + + userId + '?name='+ updateName +'&day='+ day +'&chore='+ chore
    });

editManagerButtons.forEach((element) => {
    element.addEventListener('click', () => {
        editNameSelectorForManager.selectedIndex = 0
        console.log("Only be zero: " + editNameSelectorForManager.selectedIndex)
        userId = element.getAttribute('value');
        chore = element.getAttribute('chore');
        day = element.getAttribute('day');
        console.log(chore);
        console.log(day);
        console.log('edit button clicked, id: ' + userId);
    });
});
</script>
</body>
</html>