<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>EverydayChore</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/index.css}" />
</head>
<body>
<div sec:authorize="isAuthenticated()" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EverydayChore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <a class="nav-link" href="/chores">View Chore Descriptions</a>
        </div>
        <a href="/user" style="margin-right: 3px; margin-left: 11px;"><img src="https://cdn.iconscout.com/icon/free/png-512/account-269-866236.png" width="35" alt="Account"></a>
        <a class="nav-link" th:href="@{/logout}">Logout</a>
    </nav>
    <div class="schedule-bg">
    <div class="toast ml-auto" role="alert" data-delay="700" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Management</strong>
            <small class="text-muted">now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body"> Make sure to check off chores in user profile. </div>
    </div>
    <div>
    <h1 class="heading week" th:text="${'Week ' + week_number}">Week </h1>
    <ul class="schedule-grid " style="padding-top: 30px;">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Monday</h3>
                <div>
                    <section th:each="schedule: ${currentSchedule}">
                        <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Monday' && schedule.week ==1}">
                            <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                            <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                            <p class="card-text"  th:text="${'Chore: ' +schedule.chore}">Chore</p>
                            <hr>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Tuesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Tuesday' && schedule.week ==1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${'Chore: ' + schedule.chore}">Chore</p>
                        <hr>
                    </div>
                </section>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Wednesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Wednesday' && schedule.week ==1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${'Chore: ' + schedule.chore}">Chore</p>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Thursday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Thursday' && schedule.week ==1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${'Chore: ' + schedule.chore}">Chore</p>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Friday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Friday'&& schedule.week == 1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${'Chore: ' + schedule.chore}">Chore</p>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
    </ul>
    </div>
    <div>
        <h1 class="heading week" th:text="${'Week ' + week_two_number}">Week </h1>
        <ul class="schedule-grid " style="padding-top: 30px; margin-bottom: 0px; padding-bottom: 20px   ;">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h3>Monday</h3>
                    <section th:each="schedule: ${currentSchedule}">
                        <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Monday' && schedule.week == 2}">
                            <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                            <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                            <p class="card-text"  th:text="${'Chore: ' + schedule.chore}">Chore</p>
                            <hr>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h3>Tuesday</h3>
                    <section th:each="schedule: ${currentSchedule}">
                        <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Tuesday' && schedule.week == 2}">
                            <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                            <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                            <p class="card-text"  th:text="${'Chore: ' + schedule.chore}">Chore</p>
                            <hr>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h3>Wednesday</h3>
                    <section th:each="schedule: ${currentSchedule}">
                        <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Wednesday'&& schedule.week == 2}">
                            <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                            <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                            <p class="card-text"  th:text="${'Chore: ' + schedule.chore}">Chore</p>
                            <hr>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h3>Thursday</h3>
                    <section th:each="schedule: ${currentSchedule}">
                        <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Thursday' && schedule.week == 2}">
                            <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                            <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                            <p class="card-text"  th:text="${'Chore: ' + schedule.chore}">Chore</p>
                            <hr>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h3>Friday</h3>
                    <section th:each="schedule: ${currentSchedule}">
                        <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Friday'&& schedule.week == 2}">
                            <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                            <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                            <p class="card-text"  th:text="${'Chore: ' + schedule.chore}">Chore</p>
                            <hr>
                        </div>
                    </section>
                </div>
            </div>
        </ul>
    </div>
</div>
</div>
<div sec:authorize="isAnonymous()" class=" primary text-center">
        <div class="info-box">
            <div class="background">
                <h1 id="title"><b>EverydayChore</b></h1>
                <div class="background2">
                    <p class="description">EverydayChore is an automatic system that generates new work schedules
                        every two weeks. It makes completing chore more efficient by keeping up with daily chore check offs
                        for employees preforming chores on that specific days. Users are given a weekly report based on
                        chore completions each week.
                    </p>
                    <p class="description">LOGIN:  Please log in with your username and password provided by the admin. If you do not know your log in
                        information contact us at <b>bcca.cms@gmail.com.</b></p>
                </div>
                <div class="login">
                <h3><a th:href="@{/login}" class="button btn-lg">Login</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Created by Kenia Sandoval and Bryce Taylor
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>
<script>
    $(document).ready(function() {
        $(".toast").toast('show');

    });

</script>