<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CMS</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/index.css}" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </div>
        <p class="text-primary"th:text="${'Hello, ' + #authentication.name}">
            Name
        </p>
        <a href="/manager"><img src="https://cdn.iconscout.com/icon/free/png-512/account-269-866236.png" width="35" alt="Account"></a>
    </nav>
    <h1 class="heading">Manager</h1>
</div>
<div sec:authorize="isAnonymous()" class="container text-center primary">
    <h1>Welcome to CMS</h1>
    <h3><a th:href="@{/register}">Register</a></h3>
    <h3><a th:href="@{/login}">Login</a></h3>
</div>
<div>
    <h2 class="heading" th:text="${'Week ' + week_number}">Week </h2>
    <ul class="schedule-grid " style="padding-top: 30px;">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Monday</h3>
                <div>
                    <section th:each="schedule: ${currentSchedule}">
                        <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day) == 'Monday' && schedule.week == 1}">
                            <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                            <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                            <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                            <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                                Edit
                            </button>

                            <hr>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Tuesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Tuesday' && schedule.week ==1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Wednesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Wednesday' && schedule.week ==1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Thursday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Thursday' && schedule.week ==1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Friday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day) == 'Friday' && schedule.week == 1}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
    </ul>
</div>
<div>
    <h2 class="heading" th:text="${'Week ' + week_two_number}">Week </h2>
    <ul class="schedule-grid " style="padding-top: 30px;">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Monday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Monday' && schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Tuesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Tuesday' && schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Wednesday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Wednesday'&& schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Thursday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Thursday' && schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3>Friday</h3>
                <section th:each="schedule: ${currentSchedule}">
                    <div class="chore-entry" th:if="${#temporals.dayOfWeekName(schedule.day)== 'Friday'&& schedule.week == 2}">
                        <h6 class="card-text text-info"  th:text="${schedule.user}">Full Name</h6>
                        <h6 class="card-text"  th:text="${'Manager: ' + schedule.manager}">Manager</h6>
                        <p class="card-text"  th:text="${schedule.chore}">Chore</p>
                        <button th:name="id" th:value="${schedule.id}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editing">
                            Edit
                        </button>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
    </ul>
</div>

<!--MODAL-->
<div class="modal fade" id="editing" tabindex="-1" role="dialog" aria-labelledby="editingLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="user-edit-form" th:object="${listEmployees}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="editingLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="id"/>
                        <p> Name </p>
                        <select class="form-control"  id="dropOperator" th:name="name" required>
                            <option value="0">Select Employee to Switch</option>
                            <option  th:each="user: ${listEmployees}" th:value="${user.getFullName()}" th:text="${user.getFullName()}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--                    <button id="save-button" type="submit" class="btn btn-primary" >Save</button>-->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
var editButtons = document.querySelectorAll('.chore-entry .btn');
var editNameSelector = document.getElementById('dropOperator');
var updateName = '';
var userId;
var save = document.getElementById('save-button');

console.log(updateName);
editNameSelector.addEventListener('change', () => {
    var text = editNameSelector.options[editNameSelector.selectedIndex].text;
    updateName = text;
    console.log(userId);
    console.log("this be de name: " + updateName);
    var form = document.getElementById('user-edit-form');
    window.location.href ='/edit-employee/' + + userId + '?name='+ updateName
    });

editButtons.forEach((element) => {
    element.addEventListener('click', () => {
        editNameSelector.selectedIndex = 0
        console.log("Only be zero: " + editNameSelector.selectedIndex)
        userId = element.getAttribute('value');
        console.log('edit button clicked, id: ' + userId);
    });
});
</script>
</body>
</html>
<script>
    $(document).ready(function() {
        $(".toast").toast('show');

    });

</script>